* {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  border: 0;
  font-size: 100%;
  box-sizing: border-box;
  color: #252525;
}

body {
  line-height: 1;
  margin: 0;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}

#addPostForm {
  display: flex;
  flex-direction: column;
  width: 700px;
}

#addPostForm > * {
  margin-bottom: 10px;
}