* {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  border: 0;
  font-size: 100%;
  box-sizing: border-box;
  color: #252525;
}

body {
  line-height: 1;
  margin: 0;
  background-color: #f1f1f1;
}

main {
  margin-left: auto;
  margin-right: auto;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
}

.side {
  position: sticky;
  top: 20px;
  align-self: flex-start;
  margin-left: 20px;
}

.pro-feed {
  width: 400px;
  box-sizing: border-box;
  border: 1px solid #d7d7d7;
  background-color: #fcfcfc;
  padding: 20px;
}

.copyright {
  font-size: 10px;
  margin-left: 5px;
  margin-top: 5px;
}

.line {
  width: 700px;
  margin: auto;
  border-top: 2px solid #938c7f;
}

/* POST FEED */

.posts {
  display: flex;
  width: 570px;
  flex-wrap: wrap;
  padding-bottom: 20px;
}

.single-post {
  box-sizing: content-box;
  width: 570px;
  height: 610px;
  margin-bottom: 30px;
  padding: 10px 20px;
  border: 1px solid #d7d7d7;
  background-color: #fcfcfc;
}

.post-photo {
  background-color: #fcfcfc;
  width: 566px;
  height: 530px;
}

.post-photo img{
  object-fit: cover;
  height: 530px;
  width: 566px;
}

.post-title {
  display: flex;
  align-items: center;
  height: 40px;
}

.post-title p{
  font-size: 20px;
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.post-details {
  display: flex;
  flex-direction: column;
}

.post-stats {
  display: flex;
  margin-top: 5px;
  flex-direction: row;
  justify-content: space-between;
}

.post-likes, .post-comments {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.post-likes img, .post-comments img {
  width: 25px;
  height: 25px;
  margin-left: 5px;
}

.post-likes img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.post-likes p, .post-comments p{
  font-size: 20px;
}

.post-comments {
  margin-right: 5px;
  align-content: flex-end;
}

.unliked {
  content: url("../assets/heart-icon-off.svg");
}

.liked {
  content: url("../assets/heart-icon-full.svg");
}

@media only screen and (max-width: 1100px) {
  .side {
    display: none;
  }

  .single-post {
    border: none;
  }
}

/* Tablet version */
@media only screen and (max-width: 800px) {
  .line {
    width: 570px;
  }

  .posts {
    margin-top: 100px;
  }

  .single-post {
    box-sizing: content-box;
  }

  .container {
    margin-top: 100px;
  }
}

/* Mobile Version */
@media only screen and (max-width: 600px) {
  .posts {
    width: 100%;
  }

  .container {
    width: 95%;
    margin: 100px auto auto;
  }

  .single-post {
    margin-bottom: 0;
    box-sizing: border-box;
  }

  .single-post, .post-photo, .post-photo img {
    width: 100%;
    height: auto;
  }

  .single-post {
    margin-bottom: 20px;
  }

  .post-photo img {
    object-fit: contain;
  }

  .title{
    padding-bottom: 3px;
  }

  .post-title {
    height: 25px;
  }

  .post-line {
    width: 100%;
    margin: auto auto 30px;
    border-top: 1px solid #938c7f;
  }
}