* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

nav {
    background: #fcfcfc;
    padding: 5px 20px;
}

ul {
    list-style-type: none;
}

a {
    color: #252525;
    text-decoration: none;
}

.logo {
    margin: auto;
}

.logo a{
    color: #5d5850;
    font-size: 35px;
    font-weight: bold;
}

.logo a:hover {
    text-decoration: none;
}

.menu li {
    font-size: 16px;
    padding: 9px 5px;
    white-space: nowrap;
}

.toggle a {
    font-size: 20px;
}

.nav-button {
    background-color: #938c7f;
    border: #fcfcfc 3px solid;
    border-radius: 15px;
}

.nav-button:hover {
    cursor: pointer;
    background-color: #5d5850;
    border: #fcfcfc 3px solid;
    transition: background-color 1s;
}

.nav-button:hover:after {
    background-color: #938c7f;
    transition: background-color 1s;
}

.item a {
    padding-right: 0;
}

.nav-button a {
    color: #fcfcfc;
    padding: 5px 10px;
    text-decoration: none;
}

.menu {
    padding: 10px 5% 10px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.item {
    width: 100%;
    text-align: center;
    order: 3;
    display: none;
}

.item.active {
    display: block;
}

.toggle {
    cursor: pointer;
}

.hamburger-icon {
    cursor: pointer;
    position: absolute;
    background-image: url('../assets/menu.svg');
    background-size: 25px 25px;
    top: 35px;
    right: 20px;
    width: 25px;
    height: 25px;
}

.logo{
    margin-right: auto;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
}


/* Desktop version */
@media all and (min-width: 800px) {
    nav {
        position: static;
    }

    .item {
        display: block;
        width: auto;
    }

    .toggle {
        display: none;
    }

    #home, #register {
        padding-right: 30px;
    }

    .logo {
        margin-left: 0;
    }

    /* Nav bar animation */
    .hover-underline-animation {
        display: inline-block;
        position: relative;
        color: #252525;
    }

    .hover-underline-animation:after {
        content: '';
        position: absolute;
        width: 69%;
        transform: scaleX(0);
        height: 1px;
        bottom: 3px;
        left: 2px;
        background-color: #252525;
        transform-origin: bottom right;
        transition: transform 0.3s ease-out;
    }

    .hover-underline-animation:hover:after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }
}