* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

/* link to post */
a {
  padding-bottom: 10%;
}
 /* post title */
.title h1 {
  text-align: center;
}
#title {
  text-align: center;
  margin-top: 24em;
  position: absolute;
}

/* card/post holder*/
.column {
  display: flex;
  float: left;
  width: 33%;
  height: 600px;
  justify-content: space-evenly;
  padding: 5px 5px;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 18px;
  margin-left: 1rem;
  display: flex;
  width: 100%;
  justify-content: space-around;
  text-align: center;
  background-color: #fcfcfc;
  margin-bottom: 4em;
}
.img {
  object-fit: cover;
  width: 100%;
  height: 90%;
  padding-top: 1rem;
}

/* responsive at 800px*/
@media only screen and (max-width: 800px) {

  .card {
    margin-top: 30px;
  }
  .column {
    height: 500px;
    justify-content: space-around;
    padding: 5px 5px;
  }
  #title {
    align-items: center;
    margin-top: 18em;
    font-size: 18px;
  }
}
/* responsive at 600px*/
@media screen and (max-width: 600px) {
 
  #title {
    margin-top: 16em;
    align-items: center;
    font-size: 20px;
  }
  .blogs {
   
    margin-left: 1em;
    align-items: center;
  }
  .card {
    margin-top: 10px;
    height: 400px;
    width: 100%;
  }
  .column {
    flex-direction: column;
    justify-content: space-evenly;
    margin: auto;
    width: 90%;
    height: 60%;
    padding: 10px 10px;
   
  }
  .img {
    width: 100%;
    height: 90%;
    object-fit: cover;
    margin: auto;
  }
}

footer {
  background-color: #252525;
  color: #fcfcfc;
  font-size: 14px;
  bottom: 0;
  position: fixed;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 999;
}

footer p {
  margin: 10px 0;
}
