button {
    margin-top: 10px;
    float: right;
}

#editProfileForm div {
    margin-bottom: 10px;
}

.form-wrapper {
    margin-bottom: 20px;
}

.upload-title {
    margin-top: 10px;
    margin-bottom: 10px;
}

#email-fill:hover {
    cursor: not-allowed;
}

#editProfilePictureButton {
    margin-top: 20px;
    width: 190px;
    float: right;
}

.img-form {
    width: 700px;
}

@media only screen and (max-width: 800px) {
    .upload-title {
        margin-top: 100px;
    }
}

@media only screen and (max-width: 600px) {
    .form-field p{
        margin-bottom: 5px;
    }

    .img-form {
        width: 100%;
    }
}